[submodule "packages/core"]
	path = packages/core
	url = https://github.com/skaar-js/skaar-core.git
[submodule "packages/http"]
	path = packages/http
	url = https://github.com/skaar-js/skaar-http.git
